body {
background-color: hsl(210, 46%, 95%);
}
.cont{
  margin: 11%;
}
.container{
  background-color: white;
  border-radius: 20px;
}
.draw{
  width:100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}
.col-lg-5{
  padding-left: 0;
  padding-right: 0;
}
/* .col-lg-8{
padding: 5%;
} */
.par{
 font-family: 'Manrope', sans-serif;
 font-weight: 700;
 color:hsl(217, 19%, 35%);
 font-size: 28px;
}
.cont-b{
  padding-left: 8%;
    padding-right: 8%;
      padding-top: 8%;
  padding-bottom: 3%;
  width: 100%;
}
.txt{

  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color:hsl(212, 23%, 69%);
  font-size: 18px;
}
.mit{
  max-width:50%;
  border-radius: 100px;
  margin-left: 40%;
}
.name{
  font-family: 'Manrope', sans-serif;
  font-weight: 1000;
  color:hsl(217, 19%, 35%);
  font-size: 14.5px;
  margin-bottom: 0;
  padding-top: 10%;
}
.col-4{
  padding-top: 1.2%;
  padding-left: 0;
}
.date{
  color:hsl(212, 23%, 69%);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.fa-share{
  background-color: hsl(214, 17%, 51%);
  border-radius: 100px;
  padding: 3%;
  font-size: 1.2rem;
  cursor: pointer;
}
.col-6{
  padding-top: 2%;
}
.share{
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
color:  hsl(212, 23%, 69%);
padding-left: 4%;
font-size: 15px;
}
.fab{
  color:hsl(210, 46%, 95%);
  font-size: 1.5rem;
  padding-left:4%;
  padding-right:4%;
}
.fa-twitter{
  padding-right:0;
}
.col-5{
  padding-left: 0;
}
.col-3{
  padding-left: 0;
  padding-right: 0;
}
.content-part{
  background-color: hsl(214, 17%, 51%);
  padding: 5% 8% 5% 8%;
  border-radius: 10px;
  position:relative;
top:-7.5rem;
left: 90px;
box-shadow: 5px 3px 13px 0.1px  hsl(212, 23%, 69%);
visibility: hidden;
}
.fa-caret-down{
  position:absolute;
color:hsl(214, 17%, 51%);
font-size: 4rem;
  bottom:-35px;
  left:100px;
}
@media (max-width:375px) {
  .draw{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .par{
    padding-top: 5%;
   font-size: 18px;
  }
  .cont{
  margin: 20% 5% 10% 5%;
  }
  .cont-b{

    padding-bottom: 0;

  }
  .txt{
    font-size: 15px;
  }
  .mit{
    margin-left: 20%;
    max-width:70%;
    border-radius: 100px;
  }
  .name{

    font-size: 50%;

  }

  .date{
    color:hsl(212, 23%, 69%);
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 50%;
  }
  .content-part{
    background-color: hsl(214, 17%, 51%);
    padding: 5% 8% 5% 8%;
    border-radius: 10px;
    position:relative;
  top:0;
  left: 0;
  box-shadow: 5px 3px 13px 0.1px  hsl(212, 23%, 69%);
  visibility: hidden;
  }
  .fa-caret-down{
    visibility: hidden;
  }
}
